body {
  background-image: url("/assets/images/tarot\ background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
nav {
  color: bisque;
  background-color: rgba(68, 63, 75, 0.955);
  padding: 1rem;
  border: 1rem solid rgba(243, 210, 142, 0.355);
  border-radius: 25px;
}
nav h1 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 48px;
  font-family: "sacramento";
}

nav h2 {
  font-weight: 500;
  font-family: "amatic sc";
}
h3 {
  font-size: 2rem;
  font-family: "amatic sc";
}
#choiceBar {
  border: 2px solid rgba(246, 217, 159, 0.355);
}
a {
  text-decoration: none;
}
a :hover {
  font-weight: bold;
}
.card-div {
  max-height: 25vh;
}
img {
  max-height: 100%;
  max-width: auto;
  transition: transform 0.5s;
}
img:hover {
  transform: scale(1.25);
}
