body {
  background-image: url("https://github.com/ErGent/personal-final-project/blob/main/assets/images/tarot%20background.jpg?raw=true");
  background-attachment: fixed;
  background-size: cover;
}
h3 {
  font-size: 2rem;
  font-family: "amatic sc";
}

a {
  text-decoration: none;
}

a :hover {
  font-weight: bold;
}

button {
  float: right;
}
.Osho-span {
  font-weight: bold;
}
.modal-content {
  color: bisque;
  background-color: rgba(66, 66, 68, 0.98);
  border: 1px solid rgb(255, 228, 196);
}

#logo {
  color: bisque;
  background-color: rgba(68, 63, 75, 0.955);
  padding: 1rem;
  border: 1rem solid rgba(243, 210, 142, 0.355);
  border-radius: 25px;
}
#logo h1 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 48px;
  font-family: "sacramento";
}

#logo h2 {
  font-weight: 500;
  font-family: "amatic sc";
}

#choiceBar {
  border: 2px solid rgba(246, 217, 159, 0.355);
}

.link {
  font-weight: lighter;
  font-style: italic;
  color: rgba(255, 228, 196, 0.5);
}
.cardTitle {
  font-weight: bold;
  font-size: 18px;
}
.card-div {
  max-height: 25vh;
}
.layoutImg {
  max-height: 100%;
  max-width: auto;
  transition: transform 0.5s;
}
.layoutImg:hover {
  transform: scale(1.05);
}
.navbar-toggler {
  color: white;
}
.glow img {
  background-color: #fff;

  box-shadow: 10px 10px 40px 20px rgb(240, 209, 176);
}
